name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.13.0 # Pinning a version is best practice

      - name: Install Lean
        uses: leanprover/lean-action@v1
        with:
          auto-formats: true # Checks that the code is formatted

      - name: Update Lake manifest
        run: lake update

      - name: Build
        run: lake build

      - name: Test
        run: lake script run test
